@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

li {
  list-style: none;
}

.header {
  padding: 18px 0;
  background-color: #f0f9ff;
}
.wrapper {
  width: 70%;
  overflow: hidden;
  margin: 0 auto;
}

.logo {
  width: 12%;
  float: left;
  margin-top: 14px;
}

img {
  width: 100%;
}

.menu {
  width: 48%;
  float: left;
  margin: 0 4%;
  margin-top: 20px;
}

.menu ul {
  overflow: hidden;
}

.menu ul li {
  float: left;
  margin-right: 30px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  text-transform: capitalize;
  color: #292640;
  font-weight: 500;
}

.menu ul li a:hover,
.ingredient {
  color: #ff6162;
}

.purchase {
  width: 30%;
  float: right;
  text-align: end;
}

.common-btn a {
  display: inline-block;
  padding: 20px 30px;
  background-color: #ff6162;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 5px;
}

.purchase a:hover {
  background-color: #ff7474;
}

/* ===== end header ====== */

/* quick header start */

.quick-header {
  background-color: transparent;
  padding: 12px 0;
  border-bottom: 2px solid #f0f2f4;
}

.quick-header .logo {
  width: 10%;
}

.quick-header .menu {
  float: right;
}

.quick-header .menu ul {
  float: right;
}

.quick-header ul li a {
  color: #0f2656;
}

.quick-header ul li a:hover {
  color: #008aff;
}

/* ===== another navbar link ===== */

.another-page {
  text-align: center;
  margin-top: 50px;
}

.another-page a {
  background-color: #6b2be2;
  padding: 15px 30px;
}

/* semantic and non semantic tags  */

#semantic {
  /* margin-top: 20px; */
  padding: 60px 0;
  /* background-color: rgb(209, 246, 255); 136 191 255 */
}

.content {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}

.elements {
  width: 48%;
}

.elements h2 {
  font-size: 28px;
  font-weight: 600;
  /* color: #6b2be2; */
}

.semantic {
  float: left;
}

.tag-lists {
  margin-top: 20px;
  /* background-color: rgba(165, 178, 255, 0.3); */
  background-color: rgba(136, 191, 255, 0.3);
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 18px;
}

.tag-lists h3 {
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0;
}

.tag-lists p strong {
  color: #6b2be2;
  font-weight: 600;
  letter-spacing: 1px;
}

.output {
  background-color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
}

.output h4,
.output summary {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.output p,
.output figcaption {
  font-size: 14px;
  color: rgb(70, 70, 70);
}

.output img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

mark {
  background-color: rgba(165, 178, 255, 0.4);
}

.non-semantic {
  float: right;
}
